

html, body {
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 10px 10px 10px 10px;
  background-color: #171717;
}

body{
 margin: 40px 40px 40px 40px;
}



@import url('https://fonts.googleapis.com/css?family=Open+Sans');


/*.pour-mug{
  height: 400px;
  width: 500px;
}*/


.sponsor{
  font-family: 'Open Sans Semibold', sans-serif; 
}


.mainSnippet{

}


nav {

  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 90%;
  color: #b5a484;
  background-color: #171717;
  font-size: 12px; }







  nav p {
    margin: 0;
    padding: 2px 0;
    background-color: #b5a484;
    color: #1e1e1e;
    text-align: center;
    font-size: 12px; }
    @media screen and (min-width: 320px) {
      nav p {
        font-size: 12px; } }
    @media screen and (min-width: 600px) {
      nav p {
        font-size: 13px; } }
    @media screen and (min-width: 1000px) {
      nav p {
        font-size: 13px; } }




  nav button {
    color: #b5a484;
    background-color: transparent;
    border-radius: 0;
    border: 2px solid #b5a484;
    padding: 10px 14px 10px 20px;
    letter-spacing: 3px;
    font-size: 11px; 
}





@media screen and (min-width: 320px) {
      nav button {
        font-size: 11px; 
        } }
    @media screen and (min-width: 600px) {
      nav button {
        font-size: 13px; 
        } }
    @media screen and (min-width: 1000px) {
      nav button {
        font-size: 14px; 
    } 
  }

.nav--info{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; 
  padding: 5px 600px;
  background: #171717;
  width: 12%;
}

.nav--social a {
  color: #b5a484;
  font-size: 30px;
  padding-left: 14px; 
}


  @media screen and (min-width: 320px) {
    nav {
      font-size: 12px; 
      } 
  }
  @media screen and (min-width: 600px) {
    nav {
      font-size: 13px; 
      } 
  }
  @media screen and (min-width: 1000px) {
    nav {
      font-size: 13px;
       }
   }
  
.nav--social{
  display: flex;
  justify-content: flex-end;
  height: 30px;
  width: 30px;
  margin: 0px 5px;
  padding-left: 414px; 
}

.social-icons{
    width: 50px;
    height: 30px;
    margin: 90 5px; 
}

/**********************************/



.main-logo{
  margin:9px 20px -50px 20px;
  height: 30px;
}


/**********************************/

.second--info {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat; 
}

.second--main {
  height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.second-main-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: #FFF;
  height: 100%;
  width: 100%; 
  padding-bottom: 300px;
}
  
.second-main-info h1 {
    padding-left: 15%;
    font-weight: normal;
    font-size: 35px;
    line-height: 1;
    margin: 0; }




@media screen and (min-width: 320px) {
      .second--main-info h1 {
        font-size: 35px; 
    } 
      }
@media screen and (min-width: 600px) {
      .second--main-info h1 {
        font-size: 60px; 
        }
   }
    

@media screen and (min-width: 1000px) {
      .second--main-info h1 {
        font-size: 70px; 
 } 
}
  


.second--main-info p {
    padding-left: 15%;
    font-size: 14px; 
}
    
@media screen and (min-width: 320px) {
      .second--main-info p {
        font-size: 14px; 
       } 
   }
   
 


@media screen and (min-width: 600px) {
      .second--main-info p {
        font-size: 15px; 
    } 
}
    


@media screen and (min-width: 1000px) {
      .second--main-info p {
        font-size: 16px; } 
  }

.second--sub-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 110%; 
}


.main-image{
  padding-left: 138px;
}




.bourbon--img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 200px;
  padding-left: 300px; 
}
  
  .bourbon--img img {
    width: 130%; 
  }


.second--recent {
  width: 90%;
  background-color: #FFF;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 5%; 
}

.article--img {
  width: 50%;
  height: 0;
  padding-bottom: 50%;
  overflow: hidden; }
  .article--img img {
    width: 100%; 
  }

.second--articles {
  width: 38%;
  padding: 6%; 
}

.second-article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center; 
}
  

.second-article h3 {
    font-weight: normal;
    font-size: 18px;
    margin: 2px 0;
    margin: 0 10% 2%; 
}



@media screen and (min-width: 320px) {
 .second-article h3 {
        font-size: 18px; } 
}
    
@media screen and (min-width: 600px) {
.second-article h3 {
        font-size: 21px; 
    } 
}
    
@media screen and (min-width: 1000px) {
 .second-article h3 {
        font-size: 28px; 
      } 
  }

.second-article p {
    margin: 7px 0;
    line-height: 1.5;
    font-size: 14px;
 }
    

@media screen and (min-width: 320px) {
.second-article p {
  font-size: 14px; 
  } 
}

@media screen and (min-width: 600px) {
.second-article p {
  font-size: 15px; 
  } 
}
    

@media screen and (min-width: 1000px) {
.second-article p {
font-size: 16px; 
        }
      }
.second-article a {
    color: #bd3131; 
  }
.second-article .icon {
    width: 35px; 
}

/***********BLOG ARTICLES***************/



main{
  width: 90%; 
}

.main__container {
  width: 97%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}
  



.main__container h2 {
    font-size: 19px;
    font-weight: normal;
    margin: 40px; }



@media screen and (min-width: 320px) {
  .main__container h2 {
     font-size: 19px; 
     } 
   }


@media screen and (min-width: 600px) {
      .main__container h2 {
        font-size: 35px; 
        } 
  }
@media screen and (min-width: 1000px) {
   .main__container h2 {
        font-size: 35px;
 } 
}

.articles {
  width: 90%;
  margin: 0 5% 40px 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}


.article {
  width: 32%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 2%;
  padding-bottom: 30px;
  background-color: #F3F1ED; 
}



.article h3 {
    font-weight: normal;
    font-size: 17px;
    margin: 0px;
    margin: 0 10% 2%; }


@media screen and (min-width: 320px) {
    .article h3 {
        font-size: 17px; 
        } 
}
    
@media screen and (min-width: 600px) {
      .article h3 {
        font-size: 18px; 
    } }
    
@media screen and (min-width: 1000px) {
      .article h3 {
        font-size: 24px; } 
}

.article .icon--img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    margin-top: -25px;
    position: relative;
    z-index: 2;
    background-color: #F3F1ED;
    border-radius: 50%; }
  
.article .icon {
    width: 25px; 
}


.article p {
    margin: 7px 0;
    line-height: 1.5;
    font-size: 14px; }
    
@media screen and (min-width: 320px) {
      .article p {
        font-size: 14px; } }
    
@media screen and (min-width: 600px) {
      .article p {
        font-size: 15px; } }
    
@media screen and (min-width: 1000px) {
      .article p {
        font-size: 16px; 
} }

.article__img .article--1 {
    position: absolute;
    max-height: 60%;
    top: 0;
    right: 0; 
}


.article a {
    color: #bd3171;
 }


.article__img {
  width: 60%;
  height: 0;
  padding-bottom: 80%;
  overflow: hidden;
  position: relative;
  background: red;
  }
  
.article__img img {
    min-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 0;
    right: -25px; 
}


.flex-container{
  display: flex;
  background: white;
}


/*********FOOTER**************/




.footer-info {
  padding: 17px 35px;

}

.share-section{
  display: flex;
  justify-content: flex-start;
  align-self: center;
  height: 40px;
}

.share-section p {
   background: transparent;
   color: #b5a484; 
 }
.footer--logo{
  height: 30px;
  padding-left: 700px;
}
 
 .footer-facebook{
 display: flex;
 justify-content: flex-start;
 height: 30px;
 }

.footer-twitter{
   padding-left: 2px;
   padding-right: 30px;
   margin: 9px 8 30px;
}
